/*holidays*/
.x-mas {
    background-color: rgb(161, 30, 30);
}

button.x-mas{
    background-color: rgb(212, 61, 61);
}

button.x-mas:hover{
    background-color: rgb(197, 58, 58);
}

/*organic units*/

.FEUP {
    background-color: #8c2d19;
}

.FEP {
    background-color: rgb(244,42,65);
}

.FAUP{
    background-color: rgb(255,255,255);
}

.FCNAUP{
    background-color: #D29F13;
}

.FCUP{
    background-color: #7dbae6;
}

.FLUP{
    background-color: #0019A8;
}

.FMUP{
    background-color: #fedc35;
}

.FPCE{
    background-color: #ff5c00;
}

.ICBAS{
    background-color: #78c0e2;
}

.ISPUP{
    background-color: #e92e39;;
}

.UPDIGITAL{
    background-color: #107699;
}

.REITORIA{
    background-color: #87754E;
}